<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - ASL Encyclopedia</title>
  </head>
  <body>
    <nav>
      Navigation:
      <a href="https://benjaminoakes.github.io/asl-encyclopedia/wiki/Main_Page">Main Page</a>
    </nav>
    <h1>{{ page.title }} - ASL Encyclopedia</h1>
    <p><a href="https://github.com/benjaminoakes/asl-encyclopedia/edit/main/{{ page.path }}">Edit</a></p>
    <section>
      {{ content }}
    </section>
    <footer>
      Text is available under the <a href="https://en.wikiped</a>ia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution-ShareAlike License</a>; additional terms may apply.
    </footer>
  </body>
</html>
